rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.admin == true;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    function isValidSize(maxSizeMB) {
      return request.resource.size <= maxSizeMB * 1024 * 1024;
    }

    match /blogs/{fileName} {
      allow create, update, delete: if isAdmin() && isImage() && isValidSize(4);
      allow read: if true;
    }

    match /blogs/images/{fileName} {
      allow create, update, delete: if isAdmin() && isImage() && isValidSize(4);
      allow read: if true;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
